/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_vendor.zip
_vendor
/bk_vendor.zip
/app/Libraries/PdfTron
/vendor_signow.zip
vendor*.zip
/docker-compose.yml
/Dockerfile
/docker
/docker-compose
.ftpquota
node_modules
public
vendor